.add-icon{
  font-size: 5rem;
  height: 100px;
  width: 80px;
  line-height: 100px;
  color: #232f3e;
  display: flex;
}

.add{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.button{
  display: block;
}

.add-text{
  font-size: 1.2rem;
  color: #232f3e;
}

.plus{
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}