.footer{
  margin-top: 40px;
  width: 100%;
  height: 100px;
  background: #232f3e;
  box-shadow: 0 0 15px black;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: sticky;
}

a{
  margin: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
