.navbar-body{
  margin: 10px;
  background: white;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.btn-account-icon{
  scale: 1.8;
  align-self: center;
}

.btn-account-icon:hover{
  scale: 1.9;
  transform-origin: center;
}

.account-field{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.btn-account{
  margin-right: 10px;
  margin-left: 10px;
  background: transparent;
  border: none;
  height: fit-content;
  width: fit-content;
}
