<div class="full-widget">
    <div class="top-bar">
        <a class="titel">Aufgaben</a>
        <button class="back-button" (click)="openHomeSite()">
            <i class="material-icons">arrow_back</i>
            <a>Zurück</a>
        </button>
    </div>
  <div class="form-frame">
    <div class="input-form">
      <p>Titel</p>
      <input type="text">
    </div>
    <div class="input-form">
      <p>Beschreibung</p>
      <input type="text">
    </div>
    <div class="input-form">
      <p>Tag</p>
      <input type="text">
    </div>
    <button>Erstellen</button>
  </div>
</div>
