.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget {
  width: 690px;
  height: 370px;
  border-radius: 25px;
  box-shadow: 0 0 10px black;
  margin: 10px;
  background-color: white;
}

.home-grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}