.full-widget{
  height: 850px;
  width: 1400px;
  border-radius: 25px;
  box-shadow: 0 0 10px black;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.top-bar {
  top: 0;
  left: 0;
  height: 60px;
  background-color: #232f3e;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 22px 22px 0 0;
  font-size: 1.5rem;
}

.back-button {
  border: none;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-left: auto;
  background-color: #232f3e;
  color: white;
  align-items: center;
  padding: 0 20px;
  font-size: 1.5rem;
}

.widget-body {
  top: 60px;
  left: 0;
  height: 730px;
  display: flex;
  margin-bottom: auto;
  padding: 20px;
  flex-direction: column;
  overflow: auto;
}

.button-container {
  height: 60px;
}

.add-note-button{
  border: none;
  align-items: center;
  background-color: #232f3e;
  padding: 15px;
  color: white;
  font-size: 1rem;
  border-radius: 22px 22px 22px 22px;
  display: flex;
}

.add-note{
  padding: 5px;
}

.add-note-window{
  height: 300px;
  width: 99%;
  text-align: left;
  vertical-align: top;
  padding: 2px;
  resize: none;
}

.add-save-note-button{
  padding-top: 5px;
  margin-top: 5px;
}

.notes-list{
  margin-left: 15px;
}

.notes-list-element-title{
  margin-top: 5px;
  border: none;
  align-items: center;
  background-color: #232f3e;
  padding: 15px;
  color: white;
  font-size: 1rem;
  border-radius: 22px 22px 22px 22px;
  display: flex;
}

.notes-list-element-button{
  margin-top: 5px;
  border: none;
  align-items: center;
  background-color: #232f3e;
  color: white;
  font-size: 1rem;
  border-radius: 22px 22px 22px 22px;
  display: flex;
}

.notes-list-element-body{
  width: 99%;
  margin-top: 5px;
  text-align: left;
  vertical-align: top;
  padding-top: 0;
  padding-left: 0;
}