<div class="full-widget">
    <div class="top-bar">
        <a>Notizen</a>
        <button class="back-button" (click)="openHomeSite()">
            <i class="material-icons">arrow_back</i>
            <a>Zurück</a>
        </button>
    </div>
    <div class="widget-body">
        <div class="button-container">
            <button class="add-note-button" (click)="toggleAddNoteInput()">
                Notiz hinzufügen
            </button>
        </div>
        @if (showAddNoteInput) {
            <div class="add-note-window">
                <textarea
                        rows="50"
                        class="add-note-window"
                        [(ngModel)]="noteBody"
                        name="noteBody"
                        maxlength="200"
                >
                </textarea>
            </div>
            <div class="add-save-note-button">
                <button (click)="addNote()">Speichern</button>
            </div>
        }
        <div class="notes-list">
            @for (note of notes; track note; let idx = $index) {
                <div class="notes-list-element-title">
                    <button class="notes-list-element-button" (click)="toggleShowNotes(note.id)">{{ note.title }}</button>
                </div>
                @if (note.showBody) {
                    <div class="notes-list-element-body">
                            <textarea
                                    class="add-note-window"
                                    name="noteBody"
                                    id="noteBody{{idx}}"
                                    [(ngModel)]="note.body"
                                    maxlength="200"
                            >
                            </textarea>
                            <div class="add-save-note-button">
                                <button (click)="toggleShowNotes(note.id)">Speichern</button>
                            </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
