<div class="login-window">
    <div class="login-sign">
        <a>LOGIN</a>
    </div>
    <div class="email">
        <div class="email-sign">
            <a>Email Adress</a>
        </div>
        <div class="email-input-field">
            <input
                    class="email-input"
                    type="text"
                    placeholder="you@example.com"
            />
        </div>
    </div>
    <div class="password">
        <div class="password-sign">
            <a>Password</a>
        </div>
        <div class="password-input-field">
            <input
                    class="password-input"
                    type="password"
                    placeholder="Password"
            />
        </div>
    </div>
    <div class="login-button-container">
        <button (click)="login()" class="login-button">LOGIN</button>
    </div>
    <div class="signup">
        <div class="signup-text">
            <a>Don't have an account? <a class="signup-link">Signup here!</a></a>
        </div>
    </div>
</div>